requests
python-dotenv
apify
urllib3>=2.0.0
aiohttp
asyncio
openai
azure-cognitiveservices-vision-computervision
azure-ai-vision-imageanalysis  
Pillow
pypdf
pandas
openpyxl
SQLAlchemy
beautifulsoup4
lxml